<!DOCTYPE html>
<html>                         
<head>
<meta charset="utf-8"></meta>
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/backbone.localStorage.js"></script>
<script>

$(document).ready(function(){
        Array.prototype.remove = function(from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
        };

        var Slide = Backbone.Model.extend({
initialize: function(){
}
});

        var Slides = Backbone.Collection.extend({
localStorage: new Backbone.LocalStorage("InfoBeamer:Slides"),
model: Slide                                
});

var slides = new Slides();

        var ConfigView = Backbone.View.extend({
initialize: function(){
this.render();
this.listenTo(slides, 'add', this.addOne);
this.listenTo(slides,'reset',this.addAll);
slides.fetch();
},
render: function(){
var view = _.template($('#config-view').html());
this.$el.html(view);
},
events: {
"click #add": "addSlide",
"click #play": "openPlayer"
},

openPlayer: function(){
window.open("./play.html");
},
addSlide: function(){
var files = $("#myfiles")[0].files;
for(var i = 0; i<files.length;i++){
var file= files[i]; 
var reader = new FileReader();
reader.slidename = file.name;
reader.onload = function(r){
    var node = $('<div id="main"></div>');
    node.html(r.target.result);
    var fc = node.find(':first');
    var time = fc.data('time');
    var href = "./Folien/"+this.slidename;
    slides.create({time: time, href: href});
}  
reader.readAsText(file);
}
},
addAll: function(){
        slides.each(this.addOne,this);
        },
addOne: function(slide){
        var view = new SlideView({model: slide});
        $('#table').append(view.render().el);
        $('#table').sortable();
        }

});

var SlideView = Backbone.View.extend({
       tagName: "tr",
       render: function(){
        var view = _.template($('#table-row').html(),this.model.toJSON());
        this.$el.html(view);
        return this;
       }
        });

var configView = new ConfigView({el: $('#main')});
});

</script>

<script id="table-row" type="text/template">
                <td class="link"><%= href %></td>
                <td>
                    <input type="text" value="<%= time %>"></input>
                </td>
                <td>
                    <button >Delete</button>
                </td>                                   
</script>

<script id="config-view" type="text/template">
<h2>InfoBeamer</h2>
    <p>Select your pages and you are ready to go.</p>
    <input id="myfiles" multiple type="file">
    <input id="add" type="submit" value="add">
    <input id="save" type="submit" value="save">   
    <input id="save_as" type="submit" value="save as">   
    <input id="play" type="submit" value="play">
    <table >
        <thead>
            <tr>
            <td>name</td>
            <td>seconds</td>
            </tr>
        </thead>
        <tbody id="table"></tbody>
    </table>     
</script>

<style>
body {
    font-size: 2em;
    font-family: sans;
    background:#444;
}
#main {
    background: #eee;
    width:800px;
    margin: auto;
    padding: 1em;
    box-shadow: 0 0 1em black;
}
article h1 {
}
table {
    width: 100%;
    border: 1px solid Gray;
    border-collapse: collapse;
    font-size:0.5em;
}

td {
    border: 1px solid Gray;
}
</style>
</head>

<body>
<div id="main"> </div>
</body>
</html>
